<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- 
	<div class="bh-button">
		<button>
			<span>Click Me</span>
		</button>
	</div>
	 -->
	<div data-th-fragment="imgmodal" class="pop-up">
		<div class="content">
			<div class="container">
				<div class="dots">
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
				</div>

				<span class="close">关闭</span>

				<div class="title">
					<h1>展示栏</h1>
				</div>
				<div id="my-modal-content" >
					<!-- 图片展示样例 -->
				
					<!-- 音乐展示样例 -->
				
					<!-- 视频展示样例 -->
				</div>
				
				<div class="subscribe">
					<h1>
						不要温顺的走过那个良夜 <span>咆哮吧！咆哮吧！痛斥那光的褪去！</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

</body>
</html>